@import './variables.scss';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--el-font-family);
  background: #f5f5f5;
  color: #303133;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
